.annotation_list .search_area {
  margin: 30px 0;
  display: flex;
  gap: 10px;
}

.annotation_list .verse_list li:not(last-child) {
  margin-bottom: 30px;
}

.annotation_list .verse_list li div {
  margin: 6px 0;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.annotation_list .verse_list li div p {
  word-break: keep-all;
}
