.annotation-collect .title h2 {
  font-size: 36px;
}

.annotation-collect .title p {
  color: var(--color-text-light-gray);
}

/* ST: 검색 바 */

.annotation-collect .search-area {
  margin-top: 60px;
  display: flex;
  gap: 16px;
}

.annotation-collect .search-area input {
  flex: 1;
  padding: 8px 20px 8px 48px;
  border-radius: 8px;
  background: url(/assets/images/zoom-ico.png) no-repeat 16px center;
  background-size: 16px;
  background-color: var(--color-box-bg);
}

.annotation-collect .search-area input::placeholder {
  color: var(--color-text-light-gray);
}

.annotation-collect .search-area button {
  padding: 8px 20px;
  border-radius: 6px;
  background-color: var(--color-primary);
}

/* ST: 각주 리스트 */

.annotation-collect .verse-list {
  margin-top: 60px;
  border: 1px solid var(--color-border);
  border-radius: 12px;
  overflow: hidden;
}

.annotation-collect .verse-list li {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
  padding: 20px 40px 20px 20px;
  background-color: var(--color-box-bg);
  transition: 0.3s;
}

.annotation-collect .verse-list li.no-result {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 50px;
  padding: 80px 0;
  font-size: 20px;
  text-align: center;
}

.annotation-collect .verse-list li.no-result button {
  padding: 8px 16px;
  border-radius: 8px;
  font-size: 16px;
  color: var(--color-white);
  background-color: var(--color-box-bg);
  transition: 0.3s;
}

.annotation-collect .verse-list li.no-result button:hover {
  background-color: var(--color-light-box-bg);
}

.annotation-collect .verse-list li:not(:last-child) {
  border-bottom: 1px solid var(--color-border);
}

.annotation-collect .verse-list li:hover {
  background-color: var(--color-light-box-bg);
}

.annotation-collect .verse-list li.no-result:hover {
  background-color: unset;
}

.annotation-collect .verse-list li a {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 60px;
  min-width: 60px;
  height: 36px;
  border-radius: 4px;
  color: var(--color-white);
  background-color: var(--color-box-bg);
  transition: 0.3s;
}

.annotation-collect .verse-list li:hover a {
  background-color: var(--color-primary);
  color: var(--color-white);
}

.annotation-collect .verse-list li strong {
  margin-bottom: 4px;
  display: inline-block;
  font-size: 18px;
}

.annotation-collect .verse-list li .eng-verse strong {
  display: none;
}

.annotation-collect .verse-list li p {
  color: var(--color-text-light-gray);
  transition: 0.3s;
}

.annotation-collect .verse-list li:hover p {
  color: var(--color-white);
}

/*
  반응형
*/

/* 기본은 1440px이상의 Large PC */

/* PC */
@media (max-width: 1439px) {
}

/* Tablet */
@media only screen and (max-width: 1279px) {
  .annotation-collect .title h2 {
    font-size: 32px;
  }

  .annotation-collect .title p {
    font-size: 14px;
  }

  /* ST: 검색 바 */

  .annotation-collect .search-area {
    margin-top: 40px;
    gap: 12px;
  }

  .annotation-collect .search-area input {
    padding: 8px 18px 8px 40px;
    background: url(/assets/images/zoom-ico.png) no-repeat 14px center;
    background-size: 14px;
    background-color: var(--color-box-bg);
  }

  .annotation-collect .search-area button {
    padding: 8px 16px;
    font-size: 14px;
  }

  /* ST: 각주 리스트 */

  .annotation-collect .verse-list {
    margin-top: 30px;
    border-radius: 12px;
  }

  .annotation-collect .verse-list li {
    gap: 20px;
    padding: 16px;
    font-size: 14px;
  }

  .annotation-collect .verse-list li.no-result {
    gap: 40px;
    padding: 60px 0;
    font-size: 18px;
  }

  .annotation-collect .verse-list li.no-result button {
    padding: 8px 16px;
    font-size: 14px;
  }

  .annotation-collect .verse-list li a {
    width: 50px;
    min-width: 50px;
    height: 30px;
    border-radius: 4px;
    font-size: 14px;
  }

  .annotation-collect .verse-list li strong {
    font-size: 16px;
  }
}

/* Mobile */
@media only screen and (max-width: 767px) {
  .annotation-collect .title h2 {
    font-size: 28px;
  }

  .annotation-collect .title p {
    margin-top: 2px;
  }

  /* ST: 검색 바 */

  .annotation-collect .search-area {
    gap: 10px;
  }

  /* ST: 각주 리스트 */

  .annotation-collect .verse-list {
    margin-top: 30px;
    border-radius: 8px;
  }

  .annotation-collect .verse-list li.no-result {
    font-size: 16px;
  }

  .annotation-collect .verse-list li {
    position: relative;
    gap: 0;
  }

  .annotation-collect .verse-list li a {
    position: absolute;
    top: 12px;
    right: 16px;
    width: 40px;
    min-width: 40px;
    height: 24px;
    border-radius: 4px;
    font-size: 12px;
  }

  .annotation-collect .verse-list li strong {
    margin-bottom: 8px;
  }

  .annotation-collect .verse-list li .eng-verse strong {
    display: block;
  }

  .annotation-collect .verse-list li > div > div {
    display: none;
  }

  .annotation-collect .verse-list li > div > div.active {
    display: block;
  }
}

/*
  light 모드
*/

body.light {
  .annotation-collect .title p {
    color: var(--color-theme-light-text);
  }

  /* ST: 검색 바 */

  .annotation-collect .search-area input {
    background-color: var(--color-theme-box-bg);
  }

  .annotation-collect .search-area input::placeholder {
    color: var(--color-theme-light-text);
  }

  /* ST: 각주 리스트 */

  .annotation-collect .verse-list {
    border: 1px solid var(--color-theme-border);
    background-color: var(--color-white);
    box-shadow: 1px 3px 3px 2px rgba(0, 0, 0, 0.05);
  }

  .annotation-collect .verse-list li {
    background-color: none;
    transition: 0.3s;
  }

  .annotation-collect .verse-list li.no-result button {
    background-color: var(--color-theme-dark-box-bg);
  }

  .annotation-collect .verse-list li.no-result button:hover {
    background-color: var(--color-theme-dusky-box-bg);
  }

  .annotation-collect .verse-list li:not(:last-child) {
    border-bottom: 1px solid var(--color-theme-clear-border);
  }

  .annotation-collect .verse-list li:hover {
    background-color: var(--color-theme-light-box-bg);
  }

  .annotation-collect .verse-list li.no-result:hover {
    background-color: unset;
  }

  .annotation-collect .verse-list li a {
    /**/
    color: var(--color-black);
    background-color: var(--color-theme-box-bg);
    transition: 0.3s;
  }

  .annotation-collect .verse-list li:hover a {
    background-color: var(--color-primary);
    color: var(--color-white);
  }

  .annotation-collect .verse-list li p {
    color: var(--color-theme-light-text);
    transition: 0.3s;
  }

  .annotation-collect .verse-list li:hover p {
    color: var(--color-black);
  }
}
