#footer .inner {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 28px;
  padding: 60px 0;
  border-top: 1px solid var(--color-border);
}

#footer .links {
  display: flex;
  gap: 28px;
}

#footer .links a {
  color: var(--color-text-light-gray);
  transition: 0.3s;
}
#footer .links a:hover {
  color: var(--color-white);
}

#footer .copyright {
  font-size: 14px;
  text-align: center;
  color: var(--color-text-light-gray);
}

#footer .copyright p:last-child {
  margin-top: 12px;
}

/*
  반응형
*/
@media only screen and (max-width: 768px) {
}
@media only screen and (max-width: 500px) {
}
@media only screen and (max-width: 400px) {
}

/*
  light 모드
*/
