#footer .inner {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 28px;
  padding-block: 60px 80px;
  border-top: 1px solid var(--color-border);
}

#footer .links {
  display: flex;
  gap: 28px;
}

#footer .links a {
  color: var(--color-text-light-gray);
  transition: 0.3s;
}

#footer .links a:hover {
  color: var(--color-white);
}

#footer .copyright {
  font-size: 14px;
  text-align: center;
  color: var(--color-text-light-gray);
}

#footer .copyright p:last-child {
  margin-top: 12px;
}

#footer .top-btn {
  position: fixed;
  bottom: 60px;
  right: 30px;
  width: 56px;
  aspect-ratio: 1/1;
  border: 1px solid var(--color-white);
  border-radius: 50%;
  background-image: url(/assets/images/chevron-double-up-white.png);
  background-size: 20px;
  background-repeat: no-repeat;
  background-position: center center;
  background-color: transparent;
  opacity: 50%;
  transition: 0.3s;
}

#footer .top-btn:hover {
  background-image: url(/assets/images/chevron-double-up-midnight.png);
  background-color: var(--color-white);
  opacity: 100%;
}

/*
  반응형
*/

/* 기본은 1440px이상의 Large PC */

/* PC */
@media (max-width: 1439px) {
  #footer .top-btn {
    width: 50px;
    background-size: 18px;
  }
}

/* Tablet */
@media only screen and (max-width: 1279px) {
  #footer .inner {
    gap: 28px;
    padding-block: 40px 60px;
  }

  #footer .links {
    gap: 24px;
    font-size: 14px;
  }

  #footer .copyright {
    font-size: 13px;
  }

  #footer .copyright p:last-child {
    margin-top: 10px;
  }

  #footer .top-btn {
    bottom: 50px;
  }
}

/* Mobile */
@media only screen and (max-width: 767px) {
  #footer .inner {
    gap: 24px;
    padding-block: 30px 50px;
  }

  #footer .links {
    flex-wrap: wrap;
    justify-content: center;
    column-gap: 12px;
    row-gap: 6px;
    font-size: 14px;
  }

  #footer .copyright {
    font-size: 12px;
  }

  #footer .top-btn {
    bottom: 40px;
    right: 20px;
    width: 46px;
    background-size: 17px;
  }
}

/*
  light 모드
*/

body.light {
  #footer .inner {
    border-top: 1px solid var(--color-theme-dark-border);
  }

  #footer .links a {
    color: var(--color-theme-light-text);
    transition: 0.3s;
  }

  #footer .links a:hover {
    color: var(--color-black);
  }

  #footer .copyright {
    color: var(--color-theme-light-text);
  }

  #footer .top-btn {
    border: 1px solid var(--color-primary);
    border-radius: 50%;
    background-image: url(/public/assets/images/chevron-double-up-blue.png);
    opacity: 100%;
  }

  #footer .top-btn:hover {
    background-image: url(/public/assets/images/chevron-double-up-white.png);
    background-color: var(--color-primary);
  }
}
