@import url('https://site-assets.fontawesome.com/releases/v6.3.0/css/all.css');

#footer {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 60px;
  padding: 0 80px;
  box-sizing: border-box;
  background-color: #1a1c43;
  font-size: 1em;
}
#footer .ft_logo {
  width: 120px;
  height: 35px;
  background: url(../assets/images/church_logo.png) no-repeat center center;
}
#footer .copyright {
  width: 50%;
}
#footer .copyright p {
  color: #fff;
  font-size: 12px;
  font-weight: 100;
  word-break: keep-all;
}
#footer .link a {
  font-size: 1.875em;
  color: #fff;
}
#footer .link a:first-child,
#footer .link a:nth-child(2) {
  margin-right: 20px;
}
@media only screen and (max-width: 768px) {
  #footer {
    height: 45px;
    padding: 0 50px;
    font-size: 0.875em;
  }
  #footer .ft_logo {
    width: 80px;
    height: 23px;
    background: url(../assets/images/mobile_church_logo.png) no-repeat center
      center;
  }
  #footer .copyright p {
    font-size: 8px;
  }
  #footer .link a:first-child,
  #footer .link a:nth-child(2) {
    margin-right: 15px;
  }
}
@media only screen and (max-width: 500px) {
  #footer {
    padding: 0 20px;
    font-size: 0.75em;
  }
  #footer .copyright p {
    font-size: 7px;
  }
  #footer .link a:first-child,
  #footer .link a:nth-child(2) {
    margin-right: 10px;
  }
}
@media only screen and (max-width: 400px) {
  #footer {
    font-size: 0.625em;
  }
  #footer .link a:first-child,
  #footer .link a:nth-child(2) {
    margin-right: 7px;
  }
}
