#header {
  position: sticky;
  top: 0;
  left: 0;
  background-color: var(--color-midnight);
  z-index: 1;
}

#header .dim {
  display: none;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.8);
  z-index: 1;
}

#header .dim.active {
  display: block;
}

#header .inner {
  display: flex;
  align-items: stretch;
  justify-content: space-between;
  padding: 14px 0;
  border-bottom: 1px solid var(--color-border);
}

#header .logo a {
  display: block;
  width: 159px;
  height: 44px;
  overflow: hidden;
  background: url(/assets/images/logo-white.png) no-repeat center center;
  background-size: cover;
}

#header .nav {
  display: flex;
  align-items: center;
  gap: 30px;
}

#header .nav a {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  transition: 0.3s;
}

#header .nav a.active {
  font-weight: bold;
  color: var(--color-primary);
}

#header .nav a:hover {
  color: var(--color-primary);
}

#header .nav .lang-btn {
  display: none;
}

#header .nav .theme-btn {
  width: 22px;
  height: 22px;
}

#header .nav .mobile-menu-btn {
  display: none;
  position: relative;
  width: 20px;
  height: 16px;
}

#header .nav .mobile-menu-btn span {
  position: absolute;
  left: 0;
  width: 100%;
  height: 1px;
  background-color: var(--color-white);
}

#header .nav .mobile-menu-btn span:first-child {
  top: 0;
}

#header .nav .mobile-menu-btn span:nth-child(2) {
  top: 7px;
}

#header .nav .mobile-menu-btn span:last-child {
  bottom: 0;
}

#header .nav .theme-btn.dark {
  background: url(/assets/images/theme-sun.png) no-repeat center center / cover;
}

#header .nav .theme-btn.light {
  background: url(/assets/images/theme-moon.png) no-repeat center center / cover;
}

/* ST: 모바일 메뉴 */

#header .mobile-menu {
  display: flex;
  position: fixed;
  top: 70px;
  right: 20px;
  flex-direction: column;
  align-items: flex-end;
  gap: 16px;
  transition: 0.3s;
  pointer-events: none;
  z-index: 10;
}

#header .mobile-menu.open {
  display: flex;
  pointer-events: auto;
}

#header .mobile-menu a,
#header .mobile-menu button {
  opacity: 0;
  transform: translateY(-20px);
  transition: 0.15s ease-in-out;
  transition-delay: 0s;
}

#header .mobile-menu.open a,
#header .mobile-menu.open > button {
  opacity: 1;
  transition: 0.3s ease-in-out;
  transform: translateY(0);
}

#header .mobile-menu a {
  display: flex;
  align-items: center;
  gap: 16px;
}

#header .mobile-menu.open a:nth-child(1) {
  transition-delay: 0s;
}

#header .mobile-menu.open a:nth-child(2) {
  transition-delay: 0.05s;
}

#header .mobile-menu.open a:nth-child(3) {
  transition-delay: 0.1s;
}

#header .mobile-menu a > div {
  width: 40px;
  aspect-ratio: 1/1;
  border-radius: 50%;
  background-repeat: no-repeat;
  background-position: center center;
  background-color: #d9d9d9;
}

#header .mobile-menu a:first-child > div {
  background-image: url(/assets/images/home-ico-midnight.png);
  background-size: 16px;
}
#header .mobile-menu a:nth-child(2) > div {
  background-image: url(/assets/images/book-ico-midnight.png);
  background-size: 19px;
}
#header .mobile-menu a:last-of-type > div {
  background-image: url(/assets/images/note-ico-midnight.png);
  background-size: 18px;
}

#header .mobile-menu > button {
  position: relative;
  width: 40px;
  aspect-ratio: 1/1;
  border-radius: 50%;
  background-color: var(--color-primary);
}

#header .mobile-menu.open > button {
  transition-delay: 0.15s;
}

#header .mobile-menu > button span {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 20px;
  height: 2px;
  background-color: var(--color-white);
}

#header .mobile-menu > button span:first-child {
  transform: translate(-50%, -50%) rotate(45deg);
}

#header .mobile-menu > button span:last-child {
  transform: translate(-50%, -50%) rotate(-45deg);
}

/*
  반응형
*/

/* 기본은 1440px이상의 Large PC */

/* PC */
@media (max-width: 1439px) {
}

/* Tablet */
@media only screen and (max-width: 1279px) {
  #header .inner {
    padding: 12px 30px;
  }

  #header .logo a {
    display: block;
    width: 138px;
    height: 38px;
  }

  #header .nav {
    gap: 20px;
  }

  #header .nav a {
    font-size: 14px;
  }

  #header .nav .theme-btn {
    width: 20px;
    height: 20px;
  }
}

/* Mobile */
@media only screen and (max-width: 767px) {
  #header .inner {
    padding: 12px 20px;
  }

  #header .logo a {
    display: block;
    width: 123px;
    height: 34px;
  }

  #header .nav {
    gap: 16px;
  }

  #header .nav a.nav-link {
    display: none;
  }

  #header .nav .lang-btn {
    display: flex;
    align-items: baseline;
    gap: 4px;
    font-size: 13px;
    color: var(--color-text-light-gray);
  }

  #header .nav .lang-btn span {
    transition: 0.2s;
  }

  #header .nav .lang-btn span.active {
    color: var(--color-primary);
    font-size: 16px;
  }

  #header .nav .theme-btn {
    width: 18px;
    height: 18px;
  }

  #header .nav .mobile-menu-btn {
    display: block;
  }
}

/*
  light 모드
*/

body.light {
  #header {
    background-color: var(--color-theme-bg);
  }

  #header .inner {
    border-bottom: 1px solid var(--color-theme-dark-border);
  }

  #header .logo a {
    background: url(/assets/images/logo-black.png) no-repeat center center;
    background-size: cover;
  }

  #header .nav .mobile-menu-btn span {
    background-color: var(--color-black);
  }

  /* ST: 모바일 메뉴 */
  #header .mobile-menu a {
    color: var(--color-white);
  }

  #header .nav .lang-btn {
    color: var(--color-black);
  }
}
