#header .inner {
  display: flex;
  align-items: stretch;
  justify-content: space-between;
  padding: 14px 20px;
  border-bottom: 1px solid var(--color-border);
}
#header .logo a {
  display: block;
  width: 159px;
  height: 44px;
  text-indent: -9999px;
  overflow: hidden;
  background: url(/assets/images/logo-white.png) no-repeat center center;
  background-size: cover;
}

#header .nav {
  display: flex;
  align-items: center;
  gap: 30px;
}

#header .nav a {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}

#header .nav .theme-btn {
  width: 22px;
  height: 22px;
}

#header .nav .theme-btn.dark {
  background: url(/assets/images/theme-sun.png) no-repeat center center / cover;
}

#header .nav .theme-btn.light {
  background: url(/assets/images/theme-moon.png) no-repeat center center / cover;
}

@media only screen and (max-width: 768px) {
}
@media only screen and (max-width: 500px) {
}
