#header {
  position: relative;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: space-between;

  width: 100%;
  height: 60px;
  padding: 0 80px;
  box-sizing: border-box;
  background-color: #1a1c43;
  z-index: 9998;
}
#header .logo a {
  display: block;
  width: 280px;
  height: 35px;
  text-indent: -9999px;
  overflow: hidden;
  background: url(/assets/images/logo.png) no-repeat center center;
}
#header .tab {
  position: relative;
  display: block;
  width: 30px;
  height: 25px;
}
#header .tab i {
  display: block;
  text-indent: -9999px;
  overflow: hidden;
}
#header .tab span {
  position: absolute;
  top: 0;
  left: 0;
  height: 2px;
  background: #fff;
  transition: 0.3s;
}
#header .tab span:nth-of-type(1) {
  width: 30px;
  top: 0;
}
#header .tab span:nth-of-type(2) {
  width: 30px;
  top: 11px;
}
#header .tab span:nth-of-type(3) {
  width: 30px;
  top: 22px;
}
#header .tab.active span:nth-of-type(1) {
  top: 10px;
  transform: rotate(45deg);
}
#header .tab.active span:nth-of-type(2) {
  display: none;
}
#header .tab.active span:nth-of-type(3) {
  top: 10px;
  transform: rotate(-45deg);
}

@media only screen and (max-width: 768px) {
  #header {
    height: 45px;
    padding: 0 50px;
  }
  #header .logo a {
    width: 187px;
    height: 23px;
    background: url(/assets/images/mobile_logo.png) no-repeat center center;
  }
  #header .tab {
    width: 20px;
    height: 16px;
  }
  #header .tab span:nth-of-type(1) {
    width: 20px;
    top: 0;
  }
  #header .tab span:nth-of-type(2) {
    width: 20px;
    top: 7px;
  }
  #header .tab span:nth-of-type(3) {
    width: 20px;
    top: 14px;
  }
  #header .tab.active span:nth-of-type(1) {
    top: 6px;
    transform: rotate(45deg);
  }
  #header .tab.active span:nth-of-type(2) {
    display: none;
  }
  #header .tab.active span:nth-of-type(3) {
    top: 6px;
    transform: rotate(-45deg);
  }
}
@media only screen and (max-width: 500px) {
  #header {
    padding: 0 20px;
  }
}
