.home .inner {
  padding: 80px 0;
}

.home .main-banner {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 500px;
  border-radius: 16px;
  background: linear-gradient(
    224deg,
    rgba(11, 32, 40, 1) 0%,
    rgba(141, 151, 156, 1) 100%
  );
}

.home .main-banner .banner-text {
  text-align: center;
}

.home .main-banner .banner-text h2 {
  line-height: 1.3;
  font-size: 52px;
}
.home .main-banner .banner-text p {
  margin-top: 24px;
}

.home .main-banner .banner-btns {
  margin-top: 52px;
  display: flex;
  gap: 16px;
}

.home .main-banner .banner-btns a {
  display: block;
  padding: 10px 28px;
  border-radius: 8px;
  font-size: 18px;
}

.home .main-banner .banner-btns a:first-child {
  background-color: var(--color-primary);
}
.home .main-banner .banner-btns a:last-child {
  border: 1px solid var(--color-border);
  background-color: var(--color-light-box-bg);
}

.home section {
  margin-top: 80px;
}

.home section h3 {
  font-size: 24px;
}

.home section .card-links {
  margin-top: 30px;
  display: flex;
  flex-wrap: wrap;
  gap: 60px;
}

.home section .card-links li {
  width: calc((100% - 60px) / 2);
  padding: 28px;
  border: 1px solid var(--color-dark-border);
  border-radius: 12px;
  background-color: var(--color-box-bg);
  transition: 0.3s;
}

.home section .card-links li:hover {
  transform: translateY(-8px);
  background-color: var(--color-light-box-bg);
}

.home section .card-links li .title {
  display: flex;
  align-items: center;
  gap: 16px;
}

.home section .card-links li .title .ico-box {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  aspect-ratio: 1/1;
  border-radius: 4px;
  background-color: var(--color-primary-opacity);
}

.home section .card-links li .title .ico-box img {
  width: 24px;
}

.home section .card-links li:nth-child(2) .title .ico-box img {
  width: 22px;
}

.home section .card-links li .title h4 {
  font-size: 20px;
}

.home section .card-links li p {
  margin-top: 20px;
  color: var(--color-text-light-gray);
  transition: 0.3s;
}

.home section .card-links li:hover p {
  color: var(--color-white);
}

/*
  반응형
*/

/*
  light 모드
*/
