/* ST: main-banner */

.home .main-banner {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 500px;
  border-radius: 16px;
  background: linear-gradient(
    224deg,
    rgba(11, 32, 40, 1) 0%,
    rgba(141, 151, 156, 1) 100%
  );
}

.home .main-banner .banner-text {
  text-align: center;
}

.home .main-banner .banner-text h2 {
  line-height: 1.3;
  font-size: 52px;
}

.home .main-banner .banner-text p {
  margin-top: 24px;
}

.home .main-banner .banner-btns {
  margin-top: 52px;
  display: flex;
  gap: 16px;
}

.home .main-banner .banner-btns a {
  display: block;
  padding: 10px 28px;
  border-radius: 8px;
  font-size: 18px;
}

.home .main-banner .banner-btns a:first-child {
  background-color: var(--color-primary);
}
.home .main-banner .banner-btns a:last-child {
  border: 1px solid var(--color-border);
  background-color: var(--color-light-box-bg);
}

/* ST: section */

.home section {
  margin-top: 80px;
}

.home section h3 {
  font-size: 24px;
}

.home section .card-links {
  margin-top: 30px;
  display: flex;
  flex-wrap: wrap;
  gap: 60px;
}

.home section .card-links li {
  width: calc((100% - 60px) / 2);
  padding: 28px;
  border: 1px solid var(--color-dark-border);
  border-radius: 12px;
  background-color: var(--color-box-bg);
  transition: 0.3s;
}

.home section .card-links li:hover {
  transform: translateY(-8px);
  background-color: var(--color-light-box-bg);
}

.home section .card-links li .title {
  display: flex;
  align-items: center;
  gap: 16px;
}

.home section .card-links li .title .ico-box {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  aspect-ratio: 1/1;
  border-radius: 4px;
  background-color: var(--color-primary-opacity);
}

.home section .card-links li .title .ico-box img {
  width: 24px;
}

.home section .card-links li:nth-child(2) .title .ico-box img {
  width: 22px;
}

.home section .card-links li .title h4 {
  font-size: 20px;
}

.home section .card-links li p {
  margin-top: 20px;
  color: var(--color-text-light-gray);
  transition: 0.3s;
}

.home section .card-links li:hover p {
  color: var(--color-white);
}

/*
  반응형
*/
/* 기본은 1440px이상의 Large PC */

/* PC */
@media (max-width: 1439px) {
}

/* 태블릿 */
@media (max-width: 1279px) {
  /* ST: main-banner */

  .home .main-banner {
    height: 400px;
    border-radius: 12px;
  }

  .home .main-banner .banner-text h2 {
    font-size: 40px;
  }

  .home .main-banner .banner-text p {
    margin-top: 24px;
    font-size: 15px;
  }

  .home .main-banner .banner-btns {
    margin-top: 48px;
    gap: 12px;
  }

  .home .main-banner .banner-btns a {
    padding: 8px 24px;
    border-radius: 6px;
    font-size: 16px;
  }

  /* ST: section */

  .home section {
    margin-top: 50px;
  }

  .home section h3 {
    font-size: 22px;
  }

  .home section .card-links {
    margin-top: 24px;
    gap: 20px;
  }

  .home section .card-links li {
    width: calc((100% - 20px) / 2);
    padding: 20px;
    border-radius: 10px;
  }

  .home section .card-links li .title {
    gap: 12px;
  }

  .home section .card-links li .title .ico-box {
    width: 36px;
    border-radius: 4px;
  }

  .home section .card-links li .title .ico-box img {
    width: 22px;
  }

  .home section .card-links li:nth-child(2) .title .ico-box img {
    width: 20px;
  }

  .home section .card-links li .title h4 {
    font-size: 18px;
  }

  .home section .card-links li p {
    margin-top: 16px;
    font-size: 15px;
  }
}

/* 모바일 */
@media (max-width: 767px) {
  /* ST: main-banner */

  .home .main-banner {
    height: 340px;
    border-radius: 10px;
    padding: 12px;
  }

  .home .main-banner .banner-text h2 {
    line-height: 1.5;
    font-size: 23px;
  }

  .home .main-banner .banner-text p {
    margin-top: 20px;
    font-size: 14px;
  }

  .home .main-banner .banner-btns {
    margin-top: 44px;
    gap: 10px;
  }

  .home .main-banner .banner-btns a {
    padding: 8px 16px;
    border-radius: 4px;
    font-size: 15px;
  }

  /* ST: section */

  .home section {
    margin-top: 30px;
  }

  .home section h3 {
    font-size: 20px;
  }

  .home section .card-links {
    margin-top: 20px;
    flex-direction: column;
    gap: 16px;
  }

  .home section .card-links li {
    width: 100%;
    padding: 16px;
  }

  .home section .card-links li:hover {
    transform: translateY(0);
  }

  .home section .card-links li .title {
    gap: 10px;
  }

  .home section .card-links li .title .ico-box {
    width: 32px;
  }

  .home section .card-links li .title .ico-box img {
    width: 20px;
  }

  .home section .card-links li:nth-child(2) .title .ico-box img {
    width: 18px;
  }

  .home section .card-links li .title h4 {
    font-size: 16px;
  }

  .home section .card-links li:hover {
    transform: translateY(0);
  }

  .home section .card-links li p {
    margin-top: 12px;
    font-size: 14px;
  }
}

/*
  light 모드
*/

body.light {
  /* ST: main-banner */
  .home .main-banner .banner-text h2 {
    color: var(--color-white);
  }

  .home .main-banner .banner-text p {
    margin-top: 24px;
    color: var(--color-white);
  }

  .home .main-banner .banner-btns a {
    color: var(--color-white);
  }

  .home .main-banner .banner-btns a:first-child {
    background-color: var(--color-primary);
  }
  .home .main-banner .banner-btns a:last-child {
    border: 1px solid var(--color-border);
    background-color: var(--color-light-box-bg);
  }

  /* ST: section */

  .home section .card-links li {
    border: 1px solid var(--color-theme-border);
    background-color: var(--color-white);
    box-shadow: 1px 3px 3px 2px rgba(0, 0, 0, 0.05);
  }

  .home section .card-links li:hover {
    background-color: none;
  }

  .home section .card-links li p {
    color: var(--color-theme-light-text);
  }

  .home section .card-links li:hover p {
    color: var(--color-black);
  }
}
