@import './reset.css';

/* font 설정 */
@font-face {
  font-family: 'Pretendard';
  font-weight: 900;
  font-display: swap;
  src: local('Pretendard Black'),
    url('/fonts/Pretendard-Black.woff2') format('woff2'),
    url('/fonts/Pretendard-Black.woff') format('woff');
}

@font-face {
  font-family: 'Pretendard';
  font-weight: 800;
  font-display: swap;
  src: local('Pretendard ExtraBold'),
    url('/fonts/Pretendard-ExtraBold.woff2') format('woff2'),
    url('/fonts/Pretendard-ExtraBold.woff') format('woff');
}

@font-face {
  font-family: 'Pretendard';
  font-weight: 700;
  font-display: swap;
  src: local('Pretendard Bold'),
    url('/fonts/Pretendard-Bold.woff2') format('woff2'),
    url('/fonts/Pretendard-Bold.woff') format('woff');
}

@font-face {
  font-family: 'Pretendard';
  font-weight: 600;
  font-display: swap;
  src: local('Pretendard SemiBold'),
    url('/fonts/Pretendard-SemiBold.woff2') format('woff2'),
    url('/fonts/Pretendard-SemiBold.woff') format('woff');
}

@font-face {
  font-family: 'Pretendard';
  font-weight: 500;
  font-display: swap;
  src: local('Pretendard Medium'),
    url('/fonts/Pretendard-Medium.woff2') format('woff2'),
    url('/fonts/Pretendard-Medium.woff') format('woff');
}

@font-face {
  font-family: 'Pretendard';
  font-weight: 400;
  font-display: swap;
  src: local('Pretendard Regular'),
    url('/fonts/Pretendard-Regular.woff2') format('woff2'),
    url('/fonts/Pretendard-Regular.woff') format('woff');
}

@font-face {
  font-family: 'Pretendard';
  font-weight: 300;
  font-display: swap;
  src: local('Pretendard Light'),
    url('/fonts/Pretendard-Light.woff2') format('woff2'),
    url('/fonts/Pretendard-Light.woff') format('woff');
}

@font-face {
  font-family: 'Pretendard';
  font-weight: 200;
  font-display: swap;
  src: local('Pretendard ExtraLight'),
    url('/fonts/Pretendard-ExtarLight.woff2') format('woff2'),
    url('/fonts/Pretendard-ExtarLight.woff') format('woff');
}

@font-face {
  font-family: 'Pretendard';
  font-weight: 100;
  font-display: swap;
  src: local('Pretendard Thin'),
    url('/fonts/Pretendard-Thin.woff2') format('woff2'),
    url('/fonts/Pretendard-Thin.woff') format('woff');
}

@font-face {
  font-family: 'Montserrat';
  font-weight: 900;
  src: local('Montserrat Black'),
    url('/fonts/Montserrat-Black.woff2') format('woff2'),
    url('/fonts/Montserrat-Black.woff') format('woff');
  unicode-range: U+0041-005A, U+0061-007A, U+0030-0039;
}

@font-face {
  font-family: 'Montserrat';
  font-weight: 800;
  src: local('Montserrat ExtraBold'),
    url('/fonts/Montserrat-ExtraBold.woff2') format('woff2'),
    url('/fonts/Montserrat-ExtraBold.woff') format('woff');
  unicode-range: U+0041-005A, U+0061-007A, U+0030-0039;
}

@font-face {
  font-family: 'Montserrat';
  font-weight: 700;
  src: local('Montserrat Bold'),
    url('/fonts/Montserrat-Bold.woff2') format('woff2'),
    url('/fonts/Montserrat-Bold.woff') format('woff');
  unicode-range: U+0041-005A, U+0061-007A, U+0030-0039;
}

@font-face {
  font-family: 'Montserrat';
  font-weight: 600;
  src: local('Montserrat SemiBold'),
    url('/fonts/Montserrat-SemiBold.woff2') format('woff2'),
    url('/fonts/Montserrat-SemiBold.woff') format('woff');
  unicode-range: U+0041-005A, U+0061-007A, U+0030-0039;
}

@font-face {
  font-family: 'Montserrat';
  font-weight: 500;
  src: local('Montserrat Medium'),
    url('/fonts/Montserrat-Medium.woff2') format('woff2'),
    url('/fonts/Montserrat-Medium.woff') format('woff');
  unicode-range: U+0041-005A, U+0061-007A, U+0030-0039;
}

@font-face {
  font-family: 'Montserrat';
  font-weight: 400;
  src: local('Montserrat Regular'),
    url('/fonts/Montserrat-Regular.woff2') format('woff2'),
    url('/fonts/Montserrat-Regular.woff') format('woff');
  unicode-range: U+0041-005A, U+0061-007A, U+0030-0039;
}

#root {
  position: relative;
}

.inner {
  margin: 0 auto;
  width: 100%;
  max-width: 1280px;
  padding: 60px 0 100px;
}

main {
  position: relative;
}

.top-btn {
  position: fixed;
  right: 50px;
  bottom: 50px;
  width: 50px;
  aspect-ratio: 1/1;
  background-color: white;
}

/* 기본은 1440px이상의 Large PC */

/* PC */
@media (max-width: 1439px) {
  .inner {
    max-width: 1100px;
  }
}

/* 태블릿 */
@media (max-width: 1279px) {
  .inner {
    max-width: 100%;
    padding: 40px 30px 80px;
  }
}

/* 모바일 */
@media (max-width: 767px) {
  .inner {
    padding: 30px 20px 50px;
  }
}

/*
  light 모드
*/

body.light {
}
