.menu {
  position: fixed;
  top: 60px;
  right: -250px;
  width: 250px;
  height: calc(100% - 70px);
  padding: 10px 30px;
  box-sizing: border-box;
  background-color: #1a1c43;
  transition: 0.5s;
  z-index: 9999;
  overflow-y: auto;
  font-size: 1em;
}
.menu.active {
  right: 0px;
}
.menu li button {
  display: block;
  width: 100%;
  line-height: 36px;
  font-size: 1.125em;
  font-weight: 600;
  text-align: center;
  color: #fff;
}
.menu li button:hover,
.menu li button:focus,
.menu li.on button {
  background-color: #fff;
  color: #1a1c43;
}
.menu ul ul {
  display: none;
}
.menu > ul > li.active ul {
  display: block;
}

.dim {
  display: none;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 9997;
  transition: 0.5s;
}
.dim.active {
  display: block;
}

@media only screen and (max-width: 768px) {
  .menu {
    top: 45px;
    height: calc(100% - 55px);
  }
}
@media only screen and (max-width: 500px) {
  .menu {
    font-size: 0.75em;
  }
}
