* {
  margin: 0;
  padding: 0;
}

*,
:after,
:before {
  box-sizing: border-box;
}

:root {
  -webkit-tap-highlight-color: transparent;
  -webkit-text-size-adjust: 100%;
  text-size-adjust: 100%;
  font-family: 'Montserrat', 'Pretendard';
  font-size: 16px;
  letter-spacing: -0.5px;
  line-height: 1.5;
  overflow-wrap: break-word;
  word-break: break-word;
  cursor: default;
  tab-size: 4;

  /* color */
  /* --color-black: #000000;
  --color-white: #ffffff;
  --color-gray1: #f5f5f5;
  --color-gray2: #cccccc;
  --color-gray3: #666666;
  --color-gray4: #999999; */

  /* font */
  /* --font-weight-black: 900;
  --font-weight-extrabold: 800;
  --font-weight-bold: 700;
  --font-weight-semibold: 600;
  --font-weight-medium: 500;
  --font-weight-regular: 400; */
}

html,
body {
  width: 100%;
  height: 100%;
}

img,
picture,
iframe,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

iframe {
  border: 0;
}

button {
  background: transparent;
  border: 0;
  cursor: pointer;
}

a {
  text-decoration: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

ol,
ul,
li {
  list-style: none;
}

h1,
h2,
h3,
h4,
h5,
strong,
b,
th {
  font-weight: bold;
}

:focus {
  outline: none;
}

input[type='search']::-webkit-search-decoration,
input[type='search']::-webkit-search-cancel-button,
input[type='search']::-webkit-search-results-button,
input[type='search']::-webkit-search-results-decoration {
  display: none;
}

textarea {
  overflow: auto;
  vertical-align: top;
  resize: vertical;
}
