#section {
  width: 100%;
  height: calc(100vh - 120px);
  padding: 40px 80px 35px 80px;
  box-sizing: border-box;
  font-size: 0.875em;
}
#section .text_area {
  width: 100%;
  height: calc((100% - 105px) / 2);
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: space-between;
}

#section .text_area .eng,
#section .text_area .kor {
  position: relative;
  width: 47%;
  height: 100%;
}
#section .text_area .eng.active,
#section .text_area .kor.active {
  z-index: 1000;
}
#section .text_area .eng.active .title a span,
#section .text_area .kor.active .title a span {
  display: inline-block;
  width: 100%;
  height: 100%;
  border-radius: 20px;
  background-color: #fff;
}
#section .text_area .title {
  position: absolute;
  top: -40px;
  display: none;
  box-sizing: border-box;
}
#section .text_area .eng .title a {
  position: absolute;
  left: 150px;
  top: 1px;
  display: block;
  width: 80px;
  line-height: 40px;
  border-top: 1px solid #000;
  border-bottom: 1px solid #d9d9d9;
  box-sizing: border-box;
  text-align: center;
  font-size: 1.125em;
  font-weight: 600;
  background-color: #d9d9d9;
}
#section .text_area .eng .title a::before,
#section .text_area .eng .title a::after {
  content: '';
  height: 40px;
  width: 20px;
  position: absolute;
  top: -1px;
  background: var(--background);
  background-color: #d9d9d9;
  border-radius: 8px 8px 0 0;
  z-index: -1;
}
#section .text_area .eng .title a::before {
  left: -10px;
  transform: skew(-25deg);
  border-radius: 0;
  border-left: 1px solid #000;
  border-top: 1px solid #000;
  box-sizing: border-box;
}
#section .text_area .eng .title a::after {
  right: -10px;
  transform: skew(25deg);
  border-radius: 0;
  border-right: 1px solid #000;
  border-top: 1px solid #000;
  box-sizing: border-box;
}
#section .text_area .kor .title a {
  position: absolute;
  left: 50px;
  top: 1px;
  display: block;
  width: 80px;
  line-height: 40px;
  border-top: 1px solid #000;
  border-bottom: 1px solid #d9d9d9;
  box-sizing: border-box;
  text-align: center;
  font-size: 1.125em;
  font-weight: 600;
  background-color: #d9d9d9;
}
#section .text_area .kor .title a::before,
#section .text_area .kor .title a::after {
  content: '';
  height: 40px;
  width: 20px;
  position: absolute;
  top: -1px;
  background: var(--background);
  background-color: #d9d9d9;
  border-radius: 8px 8px 0 0;
  z-index: -1;
}
#section .text_area .kor .title a::before {
  left: -10px;
  transform: skew(-25deg);
  border-radius: 0;
  border-left: 1px solid #000;
  border-top: 1px solid #000;
  box-sizing: border-box;
}
#section .text_area .kor .title a::after {
  right: -10px;
  transform: skew(25deg);
  border-radius: 0;
  border-right: 1px solid #000;
  border-top: 1px solid #000;
  box-sizing: border-box;
}
#section .text_area .kor .content,
#section .text_area .eng .content {
  position: absolute;
  top: 0px;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 1.25em;
  border-top: 1px solid #000;
  border-left: 1px solid #000;
  border-right: 1px solid #000;
  border-bottom: 1px solid #000;
  box-sizing: border-box;
  background-color: #d9d9d9;
  overflow-y: auto;
}
#section .annotation_area {
  position: relative;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: space-between;
  margin-top: 40px;
  width: 100%;
  height: calc((100% - 105px) / 2);
  border: 1px solid #000;
  box-sizing: border-box;
  background-color: #d9d9d9;
}
#section .annotation_area .eng_annotation,
#section .annotation_area .kor_annotation {
  width: 47%;
  height: 100%;
  padding: 1.25em;
  box-sizing: border-box;
  overflow-y: auto;
}
#section .annotation_area .eng_annotation.active,
#section .annotation_area .kor_annotation.active {
  z-index: 1000;
}
#section .pagination {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 25px;
  margin-top: 40px;
}
#section .pagination a.prev {
  display: block;
  width: 40px;
  height: 14px;
  background: url(../public/assets/images/left_arrow.png) no-repeat center
    center;
}
#section .pagination a.next {
  display: block;
  width: 40px;
  height: 14px;
  background: url(../public/assets/images/right_arrow.png) no-repeat center
    center;
}
#section .pagination .account {
  margin: 0 20px;
}
#section .pagination .account span.current {
  font-size: 1.5rem;
  font-weight: 700;
}
#section .pagination .account span.total {
  font-size: 1rem;
}

@media only screen and (max-width: 1250px) {
  #section {
    font-size: 0.875em;
  }
}
@media only screen and (max-width: 1025px) {
  #section {
    font-size: 0.75em;
  }
}
@media only screen and (max-width: 768px) {
  #section {
    padding: 30px 50px 25px 50px;
    height: calc(100vh - 90px);
  }
  #section .text_area {
    position: relative;
    display: block;
    height: calc((100% - 125px) / 2);
    margin-top: 40px;
  }
  #section .text_area .eng,
  #section .text_area .kor {
    position: absolute;
    width: 100%;
  }
  #section .text_area .title {
    display: block;
    z-index: 100;
  }
  #section .text_area .kor .title a,
  #section .text_area .eng .title a {
    font-size: 0.844rem;
  }
  #section .annotation_area {
    margin-top: 30px;
  }
  #section .pagination {
    margin-top: 30px;
  }
  #section .annotation_area {
    display: block;
    position: relative;
    height: calc((100% - 125px) / 2);
  }
  #section .annotation_area .eng_annotation,
  #section .annotation_area .kor_annotation {
    width: 100%;
    position: absolute;
    background-color: #d9d9d9;
  }
}
@media only screen and (max-width: 500px) {
  #section {
    padding: 20px 25px 15px 25px;
    font-size: 0.625em;
  }
  #section .annotation_area {
    margin-top: 20px;
  }
  #section .pagination {
    margin-top: 20px;
  }
  #section .text_area {
    height: calc((100% - 105px) / 2);
  }
  #section .text_area .title {
    top: -30px;
  }
  #section .text_area .eng .title a {
    left: 125px;
    width: 60px;
    line-height: 30px;
  }
  #section .text_area .eng .title a::before,
  #section .text_area .eng .title a::after {
    height: 30px;
    width: 14px;
  }
  #section .text_area .eng .title a::before {
    left: -7px;
  }
  #section .text_area .eng .title a::after {
    right: -7px;
  }
  #section .text_area .kor .title a {
    left: 50px;
    width: 60px;
    line-height: 30px;
  }
  #section .text_area .kor .title a::before,
  #section .text_area .kor .title a::after {
    height: 30px;
    width: 14px;
  }
  #section .text_area .kor .title a::before {
    left: -7px;
  }
  #section .text_area .kor .title a::after {
    right: -7px;
  }
  #section .annotation_area {
    height: calc((100% - 105px) / 2);
  }
  #section .pagination .account span.current {
    font-size: 1.125rem;
  }
  #section .pagination .account span.total {
    font-size: 0.875rem;
  }
}
@media only screen and (max-width: 400px) {
  #section {
    font-size: 0.5em;
  }
  #section .text_area .kor .title a,
  #section .text_area .eng .title a {
    font-size: 0.688rem;
  }
}
