.wlc-list .title h2 {
  font-size: 36px;
}

.wlc-list .title p {
  margin-top: 4px;
  color: var(--color-text-light-gray);
}

/* ST: 최근 본 문답 */
.wlc-list .recent-view {
  margin-top: 50px;
}

.wlc-list .recent-view .title {
  display: flex;
  align-items: center;
  gap: 12px;
}

.wlc-list .recent-view .title img {
  width: 24px;
}

.wlc-list .recent-view .title h3 {
  font-size: 20px;
}

.wlc-list .recent-view .recent-card-list {
  margin-top: 30px;
  display: flex;
  gap: 20px;
}

.wlc-list .recent-view .recent-card-list li {
  width: calc((100% - 40px) / 3);
  border-radius: 12px;
  background-color: var(--color-box-bg);
  transition: 0.3s;
}

.wlc-list .recent-view .recent-card-list li:hover {
  transform: translateY(-8px);
  background-color: var(--color-light-box-bg);
}

.wlc-list .recent-view .recent-card-list li a {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 20px;
}

.wlc-list .recent-view .recent-card-list li a span {
  font-size: 13px;
  color: var(--color-primary);
}

.wlc-list .recent-view .recent-card-list li a strong {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.wlc-list .recent-view .recent-card-list li a p {
  font-size: 13px;
  color: var(--color-text-light-gray);
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  transition: 0.3s;
}

.wlc-list .recent-view .recent-card-list li:hover p {
  color: var(--color-white);
}

/* ST: 전체 문답 보기 */
.wlc-list .all-list {
  margin-top: 50px;
}

.wlc-list .all-list > h3 {
  font-size: 20px;
}

/* 검색 바 */
.wlc-list .all-list .search-area {
  margin-top: 30px;
  display: flex;
  gap: 16px;
}

.wlc-list .all-list .search-area input {
  flex: 1;
  padding: 8px 20px 8px 48px;
  border-radius: 8px;
  background: url(/assets/images/zoom-ico.png) no-repeat 16px center;
  background-size: 16px;
  background-color: var(--color-box-bg);
}

.wlc-list .all-list .search-area input::placeholder {
  color: var(--color-text-light-gray);
}

.wlc-list .all-list .search-area button {
  padding: 8px 20px;
  border-radius: 6px;
  background-color: var(--color-primary);
}

/* ST: 문답 리스트 */
.wlc-list .all-list .question-list {
  margin-top: 50px;
  border-top: 1px solid var(--color-light-border);
  border-bottom: 1px solid var(--color-light-border);
}

.wlc-list .question-list li {
  padding: 0 12px;
  transition: 0.3s;
}

.wlc-list .question-list li.no-result {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 50px;
  padding: 80px 0;
  font-size: 20px;
  text-align: center;
}

.wlc-list .question-list li.no-result button {
  padding: 8px 16px;
  border-radius: 8px;
  font-size: 16px;
  color: var(--color-white);
  background-color: var(--color-box-bg);
  transition: 0.3s;
}

.wlc-list .question-list li.no-result button:hover {
  background-color: var(--color-light-box-bg);
}

.wlc-list .all-list .question-list li:hover {
  background-color: var(--color-light-box-bg);
}

.wlc-list .all-list .question-list li.no-result:hover {
  background-color: unset;
}

.wlc-list .all-list .question-list li a {
  position: relative;
  display: flex;
  align-items: center;
  gap: 16px;
  padding: 16px 40px 16px 0;
  background: url(/assets/images/chevron-right-white.png) no-repeat right 16px
    center;
  background-size: 10px;
}

.wlc-list .all-list .question-list li:not(:last-child) a {
  border-bottom: 1px solid var(--color-border);
}

.wlc-list .all-list .question-list li a strong {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 36px;
  aspect-ratio: 1/1;
  border-radius: 4px;
  color: var(--color-primary);
  background-color: var(--color-primary-opacity);
  transition: 0.3s;
}

.wlc-list .all-list .question-list li:hover a strong {
  background-color: var(--color-primary);
  color: var(--color-white);
}

/*
  반응형
*/

/* 기본은 1440px이상의 Large PC */

/* PC */
@media (max-width: 1439px) {
}

/* Tablet */
@media only screen and (max-width: 1279px) {
  .wlc-list .title h2 {
    font-size: 32px;
  }

  .wlc-list .title p {
    font-size: 14px;
  }

  /* ST: 최근 본 문답 */
  .wlc-list .recent-view {
    margin-top: 40px;
  }

  .wlc-list .recent-view .title {
    gap: 10px;
  }

  .wlc-list .recent-view .title img {
    width: 23px;
  }

  .wlc-list .recent-view .title h3 {
    font-size: 18px;
  }

  .wlc-list .recent-view .recent-card-list {
    margin-top: 20px;
    gap: 12px;
  }

  .wlc-list .recent-view .recent-card-list li {
    width: calc((100% - 24x) / 3);
    border-radius: 10px;
  }

  .wlc-list .recent-view .recent-card-list li:hover {
    transform: translateY(0);
  }

  .wlc-list .recent-view .recent-card-list li a {
    gap: 8px;
    padding: 16px;
  }

  .wlc-list .recent-view .recent-card-list li a span {
    font-size: 12px;
  }

  .wlc-list .recent-view .recent-card-list li a strong {
    font-size: 15px;
  }

  .wlc-list .recent-view .recent-card-list li a p {
    font-size: 12px;
  }

  /* ST: 전체 문답 보기 */
  .wlc-list .all-list {
    margin-top: 40px;
  }

  .wlc-list .all-list > h3 {
    font-size: 18px;
  }

  /* 검색 바 */
  .wlc-list .all-list .search-area {
    margin-top: 24px;
    gap: 12px;
  }

  .wlc-list .all-list .search-area input {
    padding: 8px 18px 8px 40px;
    font-size: 14px;
    background: url(/assets/images/zoom-ico.png) no-repeat 14px center;
    background-size: 14px;
    background-color: var(--color-box-bg);
  }

  .wlc-list .all-list .search-area button {
    padding: 8px 16px;
    font-size: 14px;
  }

  /* ST: 문답 리스트 */
  .wlc-list .all-list .question-list {
    margin-top: 30px;
  }

  .wlc-list .question-list li {
    padding: 0 10px;
  }

  .wlc-list .question-list li.no-result {
    gap: 40px;
    padding: 60px 0;
    font-size: 18px;
  }

  .wlc-list .question-list li.no-result button {
    padding: 8px 16px;
    font-size: 14px;
  }

  .wlc-list .all-list .question-list li a {
    gap: 12px;
    padding: 14px 24px 14px 0;
    font-size: 14px;
    background: url(/assets/images/chevron-right-white.png) no-repeat right 8px
      center;
    background-size: 8px;
  }

  .wlc-list .all-list .question-list li a strong {
    width: 32px;
  }
}

/* Mobile */
@media only screen and (max-width: 767px) {
  .wlc-list .title h2 {
    font-size: 28px;
  }

  .wlc-list .title p {
    margin-top: 2px;
  }

  /* ST: 최근 본 문답 */
  .wlc-list .recent-view .title {
    gap: 8px;
  }

  .wlc-list .recent-view .title img {
    width: 20px;
  }

  .wlc-list .recent-view .recent-card-list {
    flex-direction: column;
    margin-top: 16px;
    gap: 8px;
  }

  .wlc-list .recent-view .recent-card-list li {
    width: 100%;
  }

  .wlc-list .recent-view .recent-card-list li a {
    gap: 4px;
    padding: 12px;
  }

  .wlc-list .recent-view .recent-card-list li a strong {
    font-size: 14px;
  }

  /* ST: 전체 문답 보기 */
  /* 검색 바 */
  .wlc-list .all-list {
    margin-top: 50px;
  }

  .wlc-list .all-list .search-area {
    margin-top: 20px;
    gap: 10px;
  }

  /* ST: 문답 리스트 */
  .wlc-list .question-list li {
    padding: 0 4px;
  }

  .wlc-list .question-list li.no-result {
    font-size: 16px;
  }

  .wlc-list .all-list .question-list li a {
    gap: 10px;
    padding: 12px 20px 12px 0;
    background: url(/assets/images/chevron-right-white.png) no-repeat right 4px
      center;
    background-size: 8px;
  }

  .wlc-list .all-list .question-list li a p {
    flex: 1;
  }
}

/*
  light 모드
*/

body.light {
  .wlc-list .title p {
    color: var(--color-theme-light-text);
  }

  /* ST: 최근 본 문답 */
  .wlc-list .recent-view .recent-card-list li {
    border: 1px solid var(--color-theme-border);
    background-color: var(--color-white);
    box-shadow: 1px 3px 3px 2px rgba(0, 0, 0, 0.05);
  }

  .wlc-list .recent-view .recent-card-list li:hover {
    background-color: none;
  }

  .wlc-list .recent-view .recent-card-list li a p {
    color: var(--color-theme-light-text);
  }

  .wlc-list .recent-view .recent-card-list li:hover p {
    color: var(--color-black);
  }

  /* ST: 전체 문답 보기 */
  .wlc-list .all-list .search-area input {
    background-color: var(--color-theme-box-bg);
  }

  .wlc-list .all-list .search-area input::placeholder {
    color: var(--color-theme-light-text);
  }

  /* ST: 문답 리스트 */
  .wlc-list .all-list .question-list {
    border-top: 1px solid var(--color-theme-dark-border);
    border-bottom: 1px solid var(--color-theme-dark-border);
  }

  .wlc-list .question-list li.no-result button {
    background-color: var(--color-theme-dark-box-bg);
  }

  .wlc-list .question-list li.no-result button:hover {
    background-color: var(--color-theme-dusky-box-bg);
  }

  .wlc-list .all-list .question-list li:hover {
    background-color: var(--color-theme-light-box-bg);
  }

  .wlc-list .all-list .question-list li.no-result:hover {
    background-color: unset;
  }

  .wlc-list .all-list .question-list li a {
    background-image: url(/assets/images/chevron-right-black.png);
  }

  .wlc-list .all-list .question-list li:not(:last-child) a {
    border-bottom: 1px solid var(--color-theme-clear-border);
  }
}
