.wlc-view .title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 24px;
  border-bottom: 5px solid var(--color-border);
}

.wlc-view .title h2 {
  font-size: 36px;
}

.wlc-view .wlc-view .title .num-lang .lang-btn {
  display: none;
}

.wlc-view .title .move-btns {
  display: flex;
  align-items: center;
  gap: 8px;
}

.wlc-view .title .move-btns button {
  border-radius: 6px;
  font-size: 16px;
}

.wlc-view .title .move-btns button:first-child {
  background: url(/assets/images/chevron-left-white.png) no-repeat left 12px
    center;
  background-size: 8px;
  background-color: var(--color-box-bg);
  padding: 8px 12px 8px 32px;
}

.wlc-view .title .move-btns button:nth-child(2) {
  background: url(/assets/images/chevron-right-white.png) no-repeat right 12px
    center;
  background-size: 8px;
  background-color: var(--color-box-bg);
  padding: 8px 32px 8px 12px;
}

.wlc-view .title a {
  margin-left: 20px;
  padding: 8px 12px 8px 40px;
  border-radius: 6px;
  font-size: 16px;
  background: url(/assets/images/list-ico-white.png) no-repeat left 12px center;
  background-size: 15px;
  background-color: var(--color-box-bg);
}

/* ST: qna */

.wlc-view .qna {
  margin-top: 40px;
  display: flex;
  gap: 40px;
  padding-bottom: 20px;
  border-bottom: 1px solid var(--color-border);
}

.wlc-view .qna > div {
  width: calc((100% - 40px) / 2);
}

.wlc-view .qna .question {
  padding-bottom: 20px;
}

.wlc-view .qna .answer {
  padding: 20px 0;
}

.wlc-view .qna .question {
  border-bottom: 1px solid var(--color-border);
}

.wlc-view .qna strong {
  font-size: 20px;
}

.wlc-view .qna p,
.wlc-view .qna pre {
  margin-top: 8px;
  color: var(--color-theme-gray);
  white-space: pre-wrap;
  word-break: keep-all;
}

/* ST: footnote */

.wlc-view .footnote {
  position: relative;
  margin-top: 60px;
}

.wlc-view .footnote h3 {
  font-size: 24px;
}

.wlc-view .footnote .verse-list {
  margin-top: 30px;
}

.wlc-view .footnote .verse-list li {
  display: flex;
  gap: 40px;
  padding: 20px;
  border: 1px solid var(--color-border);
  border-radius: 12px;
  font-size: 15px;
}

.wlc-view .footnote .verse-list li:not(:first-child) {
  margin-top: 14px;
}

.wlc-view .footnote .verse-list li > div {
  width: calc((100% - 40px) / 2);
}

.wlc-view .footnote .verse-list li strong {
  font-weight: 600;
  color: var(--color-primary);
}
.wlc-view .footnote .verse-list li p {
  margin-top: 4px;
  color: var(--color-text-light-gray);
}

/*
  반응형
*/

/* 기본은 1440px이상의 Large PC */

/* PC */
@media (max-width: 1439px) {
}

/* Tablet */
@media only screen and (max-width: 1279px) {
  .wlc-view .title {
    padding-bottom: 20px;
    border-bottom: 5px solid var(--color-border);
  }

  .wlc-view .title h2 {
    font-size: 32px;
  }

  .wlc-view .title .move-btns {
    gap: 6px;
  }

  .wlc-view .title .move-btns button {
    padding: 6px 12px 6px 32px;
    border-radius: 4px;
    font-size: 14px;
  }

  .wlc-view .title .move-btns button:first-child {
    background: url(/assets/images/chevron-left-white.png) no-repeat left 12px
      center;
    background-size: 6px;
    background-color: var(--color-box-bg);
    padding: 6px 12px 6px 28px;
  }

  .wlc-view .title .move-btns button:nth-child(2) {
    background: url(/assets/images/chevron-right-white.png) no-repeat right 12px
      center;
    background-size: 6px;
    background-color: var(--color-box-bg);
    padding: 6px 28px 6px 12px;
  }

  .wlc-view .title a {
    margin-left: 12px;
    padding: 6px 10px 6px 36px;
    border-radius: 4px;
    font-size: 14px;
    background: url(/assets/images/list-ico-white.png) no-repeat left 12px
      center;
    background-size: 13px;
    background-color: var(--color-box-bg);
  }

  /* ST: qna */

  .wlc-view .qna {
    margin-top: 30px;
    gap: 30px;
    padding-bottom: 10px;
  }

  .wlc-view .qna > div {
    width: calc((100% - 30px) / 2);
  }

  .wlc-view .qna .question {
    padding-bottom: 20px;
  }

  .wlc-view .qna .answer {
    padding: 20px 0;
  }

  .wlc-view .qna strong {
    font-size: 18px;
  }

  .wlc-view .qna p,
  .wlc-view .qna pre {
    margin-top: 6px;
    font-size: 14px;
  }

  /* ST: footnote */

  .wlc-view .footnote {
    margin-top: 50px;
  }

  .wlc-view .footnote h3 {
    font-size: 22px;
  }

  .wlc-view .footnote .verse-list {
    margin-top: 24px;
  }

  .wlc-view .footnote .verse-list li {
    gap: 30px;
    padding: 16px;
    border-radius: 10px;
    font-size: 14px;
  }

  .wlc-view .footnote .verse-list li:not(:first-child) {
    margin-top: 12px;
  }

  .wlc-view .footnote .verse-list li > div {
    width: calc((100% - 30px) / 2);
  }
}

/* Mobile */
@media only screen and (max-width: 767px) {
  .wlc-view .title {
    flex-direction: column;
    align-items: flex-start;
    gap: 12px;
    padding-bottom: 16px;
    border-bottom: 5px solid var(--color-border);
  }

  .wlc-view .title h2 {
    font-size: 28px;
  }

  .wlc-view .title .num-lang {
    display: flex;
    gap: 20px;
  }

  .wlc-view .title .num-lang .lang-btn {
    display: block;
  }

  .wlc-view .title .move-btns {
    gap: 6px;
  }

  .wlc-view .title .move-btns button {
    padding: 6px 12px 6px 24px;
    border-radius: 4px;
    font-size: 13px;
  }

  .wlc-view .title .move-btns button:first-child {
    background: url(/assets/images/chevron-left-white.png) no-repeat left 8px
      center;
    background-size: 6px;
    background-color: var(--color-box-bg);
    padding: 6px 12px 6px 22px;
  }

  .wlc-view .title .move-btns button:nth-child(2) {
    background: url(/assets/images/chevron-right-white.png) no-repeat right 8px
      center;
    background-size: 6px;
    background-color: var(--color-box-bg);
    padding: 6px 22px 6px 12px;
  }

  .wlc-view .title a {
    margin-left: 8px;
    padding: 6px 12px 6px 28px;
    border-radius: 4px;
    font-size: 13px;
    background: url(/assets/images/list-ico-white.png) no-repeat left 8px center;
    background-size: 11px;
    background-color: var(--color-box-bg);
  }

  /* ST: qna */

  .wlc-view .qna {
    margin-top: 24px;
    gap: 0;
    padding-bottom: 10px;
  }

  .wlc-view .qna > div {
    display: none;
    width: 100%;
  }

  .wlc-view .qna > div.active {
    display: block;
  }

  .wlc-view .qna .question {
    padding-bottom: 16px;
  }

  .wlc-view .qna .answer {
    padding: 16px 0;
  }

  .wlc-view .qna strong {
    font-size: 17px;
  }

  /* ST: footnote */

  .wlc-view .footnote {
    margin-top: 40px;
  }

  .wlc-view .footnote h3 {
    font-size: 20px;
  }

  .wlc-view .footnote .verse-list {
    margin-top: 20px;
  }

  .wlc-view .footnote .verse-list li {
    gap: 0;
    padding: 16px;
    border-radius: 10px;
    font-size: 14px;
  }

  .wlc-view .footnote .verse-list li:not(:first-child) {
    margin-top: 8px;
  }

  .wlc-view .footnote .verse-list li > div {
    display: none;
    width: 100%;
  }

  .wlc-view .footnote .verse-list li > div.active {
    display: block;
  }
}

/*
  light 모드
*/

body.light {
  .wlc-view .title {
    border-bottom: 5px solid var(--color-theme-clear-border);
  }

  .wlc-view .title .move-btns button:first-child {
    background-image: url(/assets/images/chevron-left-black.png);
    background-color: var(--color-theme-gray);
    color: var(--color-black);
  }

  .wlc-view .title .move-btns button:nth-child(2) {
    background-image: url(/assets/images/chevron-right-black.png);
    background-color: var(--color-theme-gray);
    color: var(--color-black);
  }

  .wlc-view .title a {
    background-image: url(/assets/images/list-ico-black.png);
    background-color: var(--color-theme-gray);
    color: var(--color-black);
  }

  /* ST: qna */

  .wlc-view .qna {
    border-bottom: 1px solid var(--color-theme-clear-border);
  }

  .wlc-view .qna .question {
    border-bottom: 1px solid var(--color-theme-clear-border);
  }

  .wlc-view .qna p,
  .wlc-view .qna pre {
    color: #333;
  }

  /* ST: footnote */

  .wlc-view .footnote .verse-list li {
    border: 1px solid var(--color-theme-border);
    background-color: var(--color-white);
    box-shadow: 1px 3px 3px 2px rgba(0, 0, 0, 0.05);
  }

  .wlc-view .footnote .verse-list li p {
    color: var(--color-theme-light-text);
  }
}
